@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: Roboto;
}

.header {
  font-family: Roboto;
  background-image: url(../img/Prosto.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 2000px;
  color: #fff;
}

.header .container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 150px 120px 80px 80px 150px 630px;
      grid-template-rows: 150px 120px 80px 80px 150px 630px;
      grid-template-areas: 'logo . nav' '. title .' '. subtitle .' '. get-started .' '. screen .';
  max-width: 1700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  background-image: url(../img/Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 50px;
  -ms-grid-column-align: started;
      justify-self: started;
}

.header .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  gap: 50px;
  text-decoration: none;
  list-style-type: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header .nav .pages {
  text-decoration: none;
  color: #fff;
}

.header .nav-login {
  text-decoration: none;
  color: #5584ff;
  border: 1px solid #233a72;
  padding: 10px 50px;
  border-radius: 30px;
}

.header .title {
  font-size: 60pt;
  font-weight: 100;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  -ms-grid-column-align: center;
   justify-self: center;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: center;
  grid-column: 1/4;
  grid-row: 3;
}

.header .subtitle {
  font-size: 36pt;
  font-weight: 400;
  color: #8492af;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  grid-column: 1/4;
  grid-row: 4;
  justify-self: center;
}

.header .get-start {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: get-started;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  grid-row: 5;
  color: #fff;
  text-decoration: none;
  background-color: #5584ff;
  border: 1px solid #5584ff;
  padding: 10px 50px;
  border-radius: 30px;
  font-weight: 500;
}

.header .screen {
  background-image: url(../img/Merkury-home.png);
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: screen;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-repeat: no-repeat;
  background-position: 50% 200%;
  background-size: 95%;
  width: 1054px;
  height: 763px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.icon-section .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left center right';
  -ms-grid-rows: 200px 200px 200px 200px;
      grid-template-rows: 200px 200px 200px 200px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1700px;
}

.icon-section .img-item {
  margin-top: 200px;
  -ms-grid-rows: 800px 100px 100px 150px;
      grid-template-rows: 800px 100px 100px 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 50% 60%;
}

.icon-section .img-item .title {
  font-size: 24pt;
  font-weight: 700;
  text-align: center;
  -ms-grid-row: 2;
  grid-row: 2;
}

.icon-section .img-item .subtitle {
  line-height: 1.5;
  font-size: 18pt;
  text-align: center;
  -ms-grid-row: 3;
  grid-row: 3;
  padding: 2px 30px;
  color: #8492af;
}

.icon-section .img-item .see-more {
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  -ms-grid-row: 4;
  grid-row: 4;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border: 1px solid #dadee7;
  padding: 15px 0;
  border-radius: 30px;
}

.icon-section .img-item:nth-child(1) {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  background-image: url(../img/Manage_first.png);
  background-repeat: no-repeat;
  background-size: 20%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.icon-section .img-item:nth-child(1) .title {
  -ms-grid-row: 2;
  grid-row: 2;
}

.icon-section .img-item:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  background-image: url(../img/Manage_sec.png);
  background-repeat: no-repeat;
  background-size: 20%;
  -ms-grid-rows: 4;
      grid-template-rows: 4;
  position: relative;
}

.icon-section .img-item:nth-child(2)::after {
  content: '';
  width: 220px;
  height: 2px;
  background-color: #dadee7;
  position: absolute;
  top: 60%;
  left: -20%;
}

.icon-section .img-item:nth-child(2)::before {
  content: '';
  width: 220px;
  height: 2px;
  background-color: #dadee7;
  position: absolute;
  top: 60%;
  left: 80%;
}

.icon-section .img-item:nth-child(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  background-image: url(../img/Manage_thr.png);
  background-repeat: no-repeat;
  background-size: 20%;
  -ms-grid-rows: 4;
      grid-template-rows: 4;

  -ms-grid-column-align: start;
      justify-self: start;
}

.need-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 800px;
      grid-template-columns: 1fr 800px;
  margin-top: 50px;
  padding-top: 100px;
  background: #f6f7fa;
}

.need-section .container .text {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title' 'subtitle' 'sub-ready' 'sub-two';
  -ms-grid-rows: 50px 120px 100px 120px 50px 50px;
      grid-template-rows: 50px 120px 100px 120px 50px 50px;
  text-align: left;
  padding-left: 150px;
}

.need-section .container .text .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 60pt;
  font-weight: 100;
}

.need-section .container .text .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  line-height: 1.5;
  font-size: 18pt;
  padding-right: 180px;
  color: #8492af;
}

.need-section .container .text .subtitle:nth-child(2) {
  -ms-grid-row: 3;
  grid-row: 3;
}

.need-section .container .text .subtitle:nth-child(3) {
  -ms-grid-row: 4;
  grid-row: 4;
}

.need-section .container .text .sub-ready-one {
  padding-left: 30px;
  color: #618eff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sub-ready;
  -ms-grid-row: 5;
  grid-row: 5;
  position: relative;
}

.need-section .container .text .sub-ready-one::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.need-section .container .text .sub-ready-two {
  padding-left: 30px;
  color: #618eff;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sub-two;
  -ms-grid-row: 6;
  grid-row: 6;
  position: relative;
}

.need-section .container .text .sub-ready-two::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.need-section .container .need-img {
  -ms-grid-column-align: end;
      justify-self: end;
  background-image: url(../img/Need.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -30px 50px;
  width: 800px;
  height: 600px;
}

.drag-drop {
  background-image: url(../img/Prosto.png);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.drag-drop .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  padding-top: 100px;
}

.drag-drop .container .in-progres {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.drag-drop .container .in-progres .title-text {
  font-weight: 500;
  font-size: 16pt;
}

.drag-drop .container .in-progres .title-text::after {
  content: '(3)';
  padding-left: 10px;
  opacity: 0.5;
}

.drag-drop .container .in-progres .img {
  background-image: url(../img/drag.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  width: 400px;
  height: 100px;
}

.drag-drop .container .completed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.drag-drop .container .completed .title-text {
  font-weight: 500;
  font-size: 16pt;
  position: relative;
}

.drag-drop .container .completed .title-text::after {
  content: '(2)';
  padding-left: 10px;
  opacity: 0.5;
}

.drag-drop .container .completed .title-text::before {
  content: '';
  border: solid #fff;
  border-width: 0 1px 1px 0;
  padding: 5px;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: -120px;
}

.drag-drop .container .completed .img {
  background-image: url(../img/drag.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  width: 400px;
  height: 100px;
}

.drag-drop .container .completed .img-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed #fff;
  margin-bottom: 20px;
  width: 400px;
  height: 100px;
  opacity: 0.5;
}

.drag-drop .container .img:nth-child(4) {
  background-position: 50px 20px;
  width: 500px;
  height: 120px;
  position: relative;
}

.drag-drop .container .img:nth-child(4)::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 78%;
  right: 8%;
  background-image: url(../img/drag_ic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 50%;
}

.drag-drop .container .img:nth-child(4)::before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 70%;
  right: 6%;
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 50%;
}

.drag-drop .container .text .title {
  font-weight: 100;
  font-size: 40pt;
}

.drag-drop .container .text .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.drag-drop .container .text .subtitle {
  font-weight: 300;
  padding-right: 200px;
}

.drag-drop .container .text .subtitle:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.drag-drop .container .text .subtitle:nth-child(2)::before {
  content: '';
  background-image: url(../img/ic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 150%;
  left: 0px;
  border: 1px #fff solid;
  border-radius: 50%;
}

.drag-drop .container .text .subtitle:nth-child(2)::after {
  content: '';
  background-image: url(../img/ic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 150%;
  left: 50px;
  border: 1px #fff solid;
  border-radius: 50%;

}
/*# sourceMappingURL=style.css.map */