@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body {
  font-family: Roboto;
}
.header {
  font-family: Roboto;
  background-image: url(../img/Prosto.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 2000px;
  color: #fff;
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 120px 80px 80px 150px 630px;
    grid-template-areas: 'logo . nav' '. title .' '. subtitle .' '. get-started .' '. screen .';
    max-width: 1700px;
    align-items: center;
  }
  .logo {
    grid-area: logo;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: 50px;
    justify-self: started;
  }
  .nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    justify-self: end;
    .pages {
      text-decoration: none;
      color: #fff;
    }
    &-login {
      text-decoration: none;
      color: #5584ff;
      border: 1px solid #233a72;
      padding: 10px 50px;
      border-radius: 30px;
    }
  }
  .title {
    font-size: 60pt;
    font-weight: 100;
    grid-area: title;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 3;
  }
  .subtitle {
    font-size: 36pt;
    font-weight: 400;
    color: #8492af;
    grid-area: subtitle;
    grid-column: 1/4;
    grid-row: 4;
    justify-self: center;
  }
  .get-start {
    grid-area: get-started;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 5;
    color: #fff;
    text-decoration: none;
    background-color: #5584ff;
    border: 1px solid #5584ff;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: 500;
  }
  .screen {
    background-image: url(../img/Merkury-home.png);
    grid-area: screen;
    grid-row: 6;
    grid-column: 1/4;
    background-repeat: no-repeat;
    background-position: 50% 200%;
    background-size: 95%;
    width: 1054px;
    height: 763px;
    justify-self: center;
  }
}

.icon-section {
  .container {
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    max-width: 1700px;

  }
  .img-item {
    margin-top: 200px;
    grid-template-rows: 800px 100px 100px 150px;
    align-items: center;
    background-position: 50% 60%;

    .title {
      font-size: 24pt;
      font-weight: 700;
      text-align: center;
      grid-row: 2;
    }
    .subtitle {
      line-height: 1.5;
      font-size: 18pt;
      text-align: center;
      grid-row: 3;
      padding: 2px 30px;
      color: #8492af;
    }
    .see-more {
      display: block;
      margin: 0 auto;
      width: 250px;
      text-align: center;
      grid-row: 4;
      text-decoration: none;
      color: #000;
      font-weight: 700;
      border: 1px solid #dadee7;
      padding: 15px 0;
      border-radius: 30px;
    }
  }

  .img-item:nth-child(1) {
    display: grid;
    grid-area: left;
    background-image: url(../img/Manage_first.png);
    background-repeat: no-repeat;
    background-size: 20%;
    justify-self: end;

    .title {
      grid-row: 2;
    }
  }
  .img-item:nth-child(2) {
    display: grid;
    grid-area: center;
    background-image: url(../img/Manage_sec.png);
    background-repeat: no-repeat;
    background-size: 20%;
    grid-template-rows: 4;
    justify-self: center;
    position: relative;
  }

  .img-item:nth-child(2)::after {
    content: '';
    width: 220px;
    height: 2px;
    background-color: #dadee7;
    position: absolute;
    top: 60%;
    left: -20%;
  }

  .img-item:nth-child(2)::before {
    content: '';
    width: 220px;
    height: 2px;
    background-color: #dadee7;
    position: absolute;
    top: 60%;
    left: 80%;
  }

  .img-item:nth-child(3) {
    display: grid;
    grid-area: right;
    background-image: url(../img/Manage_thr.png);
    background-repeat: no-repeat;
    background-size: 20%;
    grid-template-rows: 4;
    justify-self: start;
  }
}

.need-section {
  .container {
    display: grid;
    grid-template-columns: 1fr 800px;
    margin-top: 50px;
    padding-top: 100px;
    background: #f6f7fa;
    .text {
      display: grid;
      grid-template-areas: 'title' 'subtitle' 'sub-ready' 'sub-two';
      grid-template-rows: 50px 120px 100px 120px 50px 50px;
      text-align: left;
      padding-left: 150px;
      .title {
        grid-area: title;
        grid-row: 1;
        font-size: 60pt;
        font-weight: 100;
      }
      .subtitle {
        grid-area: subtitle;
        line-height: 1.5;
        font-size: 18pt;
        padding-right: 180px;
        color: #8492af;
      }
      .subtitle:nth-child(2) {
        grid-row: 3;
      }
      .subtitle:nth-child(3) {
        grid-row: 4;
      }
      .sub-ready-one {
        padding-left: 30px;
        color: #618eff;
        grid-area: sub-ready;
        grid-row: 5;
        position: relative;
      }
      .sub-ready-one::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(../img/checked.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      .sub-ready-two {
        padding-left: 30px;
        color: #618eff;
        grid-area: sub-two;
        grid-row: 6;
        position: relative;
      }

      .sub-ready-two::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(../img/checked.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .need-img {
      justify-self: end;
      background-image: url(../img/Need.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: -30px 50px;
      width: 800px;
      height: 600px;
    }
  }
}

.drag-drop {
  background-image: url(../img/Prosto.png);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
    padding-top: 100px;
    .in-progres {
      align-items: center;
      justify-self: end;
      .title-text {
        font-weight: 500;
        font-size: 16pt;
      }
      .title-text::after {
        content: '(3)';
        padding-left: 10px;
        opacity: 0.5;
      }

      .img {
        background-image: url(../img/drag.png);
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 400px;
        height: 100px;
      }
    }
    .completed {
      align-items: center;
      justify-self: start;
      .title-text {
        font-weight: 500;
        font-size: 16pt;
        position: relative;
      }
      .title-text::after {
        content: '(2)';
        padding-left: 10px;
        opacity: 0.5;
      }
      .title-text::before {
        content: '';
        border: solid #fff;
        border-width: 0 1px 1px 0;
        padding: 5px;
        display: inline-block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        top: 5px;
        left: -120px;
      }
      .img {
        background-image: url(../img/drag.png);
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 400px;
        height: 100px;
      }
      .img-form {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #fff;
        margin-bottom: 20px;
        width: 400px;
        height: 100px;
        opacity: 0.5;
      }
    }
    .img:nth-child(4) {
      background-position: 50px 20px;
      width: 500px;
      height: 120px;
      position: relative;
    }
    .img:nth-child(4)::after {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      top: 78%;
      right: 8%;
      background-image: url(../img/drag_ic.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      background-color: rgba(255, 255, 255, 0.062);
      border-radius: 50%;
    }
    .img:nth-child(4)::before {
      content: '';
      width: 70px;
      height: 70px;
      position: absolute;
      top: 70%;
      right: 6%;
      background-color: rgba(255, 255, 255, 0.123);
      border-radius: 50%;
    }
    .text {
      .title {
        font-weight: 100;
        font-size: 40pt;
      }
      .wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
      }
      .subtitle {
        font-weight: 300;
        padding-right: 200px;
      }
      .subtitle:nth-child(2) {
        align-items: center;
        position: relative;
      }
      .subtitle:nth-child(2)::before {
        content: '';
        background-image: url(../img/ic.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        transform: rotate(90deg);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 150%;
        left: 0px;
        border: 1px #fff solid;
        border-radius: 50%;
      }
      .subtitle:nth-child(2)::after {
        content: '';
        background-image: url(../img/ic.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        transform: rotate(-90deg);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 150%;
        left: 50px;
        border: 1px #fff solid;
        border-radius: 50%;
      }
    }
  }
}
